{% extends 'projects/base.html' %}
{% block content %}
{% load static %}
        <!-- main-area -->
        <main>
            
            <!-- search-popup -->
		<div class="modal fade bs-example-modal-lg search-bg popup1" tabindex="-1" role="dialog">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content search-popup">
					<div class="text-center">
						<a href="#" class="close2" data-dismiss="modal" aria-label="Close">× close</a>
					</div>
					<div class="row search-outer">
						<div class="col-md-11"><input type="text" placeholder="Search for products..." /></div>
						<div class="col-md-1 text-right"><a href="#"><i class="fa fa-search" aria-hidden="true"></i></a></div>
					</div>
				</div>
			</div>
		</div>
		<!-- /search-popup -->
            <!-- breadcrumb-area -->
             <section class="breadcrumb-area d-flex align-items-center" style="background-image:url(img/testimonial/test-bg.png)">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-xl-12 col-lg-12">
                            <div class="breadcrumb-wrap text-left">
                                <div class="breadcrumb-title">
                                    <h2>Services</h2>    
                                    <div class="breadcrumb-wrap">
                              
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">Pricing</li>
                                    </ol>
                                </nav>
                            </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </section>
            <!-- breadcrumb-area-end -->
			 <!-- services-three-area -->
            <section id="services-08" class="services-08 pt-120 pb-120 p-relative" style="background: url(img/bg/aliment-left.png) no-repeat; background-position: left center;">
                <div class="container">
                    <div class="row">   
                        <div class="col-lg-12">
                            <div class="section-title center-align mb-50 text-center">
                                 <h5>OUR SERVICES</h5>  
                                <h2>
                                   What We Offer
                                </h2>
                             
                            </div>
                           
                        </div>
                         
                    </div>
                    <div class="row services-08-item--wrapper mt-0">
                            <div class="col-lg-4 col-md-4">
                                <div class="services-08-item">
                                    <div class="services-08-thumb">
                                     <i class="flaticon flaticon-customer-support"></i>
                                    </div>
                                    <div class="services-08-content">
                                        <h3><a href="services-detail.html"> Technical Services</a> </h3>
                                        <p>Donec vestibulum arcu a arcu scelerisque, quis dignissim turpis semper onec tortor mi, volutpat a iaculis sit amet.</p>
                                    </div>
                                </div>
                            </div>
                              <div class="col-lg-4 col-md-4">
                                <div class="services-08-item">
                                    <div class="services-08-thumb">
                                     <i class="flaticon flaticon-solar-panel"></i>
                                    </div>
                                    <div class="services-08-content">
                                        <h3><a href="services-detail.html"> Energy Panels</a></h3>
                                        <p>Donec vestibulum arcu a arcu scelerisque, quis dignissim turpis semper onec tortor mi, volutpat a iaculis sit amet.</p>
                                    </div>
                                </div>
                            </div>
                              <div class="col-lg-4 col-md-4">
                                <div class="services-08-item">
                                    <div class="services-08-thumb">
                                      <i class="flaticon flaticon-wind-energy"></i>
                                    </div>
                                    <div class="services-08-content">
                                        <h3><a href="services-detail.html">Wind Generators</a></h3>
                                        <p>Donec vestibulum arcu a arcu scelerisque, quis dignissim turpis semper onec tortor mi, volutpat a iaculis sit amet.</p>
                                    </div>
                                </div>
                            </div>
                        
                       
                        </div>
                    
                    <div class="row services-08-item--wrapper mt-0">
                             <div class="col-lg-4 col-md-4">
                                <div class="services-08-item">
                                    <div class="services-08-thumb">
                                      <i class="flaticon flaticon-eco-home"></i>
                                    </div>
                                    <div class="services-08-content">
                                        <h3><a href="services-detail.html">Solar As A Service</a></h3>
                                        <p>Donec vestibulum arcu a arcu scelerisque, quis dignissim turpis semper onec tortor mi, volutpat a iaculis sit amet.</p>
                                    </div>
                                </div>
                            </div>
                             <div class="col-lg-4 col-md-4">
                                <div class="services-08-item">
                                    <div class="services-08-thumb">
                                     <i class="flaticon flaticon-charging-station"></i>
                                    </div>
                                    <div class="services-08-content">
                                        <h3><a href="services-detail.html"> Solar PV Systems</a></h3>
                                        <p>Donec vestibulum arcu a arcu scelerisque, quis dignissim turpis semper onec tortor mi, volutpat a iaculis sit amet.</p>
                                    </div>
                                </div>
                            </div>
                             <div class="col-lg-4 col-md-4">
                                <div class="services-08-item">
                                    <div class="services-08-thumb">
                                      <i class="flaticon flaticon-clipboard"></i>
                                    </div>
                                    <div class="services-08-content">
                                        <h3><a href="services-detail.html">Inspection Checklist</a></h3>
                                        <p>Donec vestibulum arcu a arcu scelerisque, quis dignissim turpis semper onec tortor mi, volutpat a iaculis sit amet.</p>
                                    </div>
                                </div>
                            </div>
                       
                        </div>
					
                     
                    </div>
            </section>
           <!-- services-three-area -->
           
             <!-- video-area -->
            <section id="video" class="video-area about-p p-relative" style="background-color: #010f2e;">
                <div class="container">
                     <div class="row align-items-center">
                        <div class="col-lg-6">
                            <div class="s-video-wrap" style="background-image:url(img/bg/video-img.png)">
                                <div class="s-video-content">
                                    <a href="https://www.youtube.com/watch?v=7e90gBu4pas" class="popup-video mb-50"><img src="img/bg/play-button.png" alt="circle_right"></a>
                                   
                                </div>
                            </div>
                        </div>
                         <div class="col-lg-6 p-relative pl-70">
                            <div class="section-title">
                                 <H5>WORK FLOW</H5>
                                <h2>
                                 How We Work
                                </h2>
                            </div>
                             
                             <div class="row how-box-contaniner">
                                <div class="col-lg-6 mt-30">
                                    <div class="how-box">
                                        <h5>01</h5>
                                        <h3>Peak Shaving</h3>
                                        <p>Nullam porttitorer, condimentum pharetra, tellus sapien malesuada quampulvinar efficitur justo.</p>
                                    </div>
                                 </div>
                                   <div class="col-lg-6 mt-30">
                                    <div class="how-box">
                                        <h5>02</h5>
                                        <h3>Demand Response</h3>
                                        <p>Nullam porttitorer, condimentum pharetra, tellus sapien malesuada quampulvinar efficitur justo.</p>
                                    </div>
                                 </div>
                                   <div class="col-lg-6 mt-30">
                                    <div class="how-box">
                                        <h5>03</h5>
                                        <h3>Load Shifting</h3>
                                        <p>Nullam porttitorer, condimentum pharetra, tellus sapien malesuada quampulvinar efficitur justo.</p>
                                    </div>
                                 </div>
                                   <div class="col-lg-6 mt-30">
                                    <div class="how-box">
                                        <h5>04</h5>
                                        <h3>Renewable</h3>
                                        <p>Nullam porttitorer, condimentum pharetra, tellus sapien malesuada quampulvinar efficitur justo.</p>
                                    </div>
                                 </div>
                                
                             </div>
                           
                        </div>
                    </div>
                </div>
            </section>
            <!-- video-area-end -->
            <!-- testimonial-area -->
            <section class="testimonial-area pt-120 pb-100" style="background: url(img/bg/aliment-left2.png) no-repeat; background-position: left center;">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="section-title center-align mb-35 text-center">
                                 <h5> Feedback </h5>  
                                <h2>
                                  Our Testimonials
                                </h2>
                             
                            </div>
                           
                        </div>
                        
                        <div class="col-lg-12">
                            <div class="testimonial-active">
                                <div class="single-testimonial">
                                    <p>Praesent nec elit imperdiet, tincidunt ex at, malesuada lectus. Praesent cursus diam risus, non accumsan neque fermentum eget. Maecenas vel aliquam enim aliquam aliquet finibus nisl.</p>
                                    <div class="testi-author">
                                        <img src="img/testimonial/testi_avatar.png" alt="img">
                                        <div class="ta-info">
                                            <h6>Margie R. Robinson</h6>
                                            <span>Web Developer</span>
                                        </div>
                                    </div>
                                    <div class="qt-img">
                                    <img src="img/testimonial/qt-icon.png" alt="img">
                                    </div>
                                </div>
                                <div class="single-testimonial">
                                   <p>Praesent nec elit imperdiet, tincidunt ex at, malesuada lectus. Praesent cursus diam risus, non accumsan neque fermentum eget. Maecenas vel aliquam enim aliquam aliquet finibus nisl.</p>
                                    <div class="testi-author">
                                        <img src="img/testimonial/testi_avatar.png" alt="img">
                                        <div class="ta-info">
                                            <h6>Margie R. Robinson</h6>
                                            <span>Web Developer</span>
                                        </div>
                                    </div>
                                     <div class="qt-img">
                                    <img src="img/testimonial/qt-icon.png" alt="img">
                                    </div>
                                </div>
                               <div class="single-testimonial">
                                   <p>Praesent nec elit imperdiet, tincidunt ex at, malesuada lectus. Praesent cursus diam risus, non accumsan neque fermentum eget. Maecenas vel aliquam enim aliquam aliquet finibus nisl.</p>
                                    <div class="testi-author">
                                        <img src="img/testimonial/testi_avatar.png" alt="img">
                                        <div class="ta-info">
                                            <h6>Margie R. Robinson</h6>
                                            <span>Web Developer</span>
                                        </div>
                                    </div>
                                     <div class="qt-img">
                                    <img src="img/testimonial/qt-icon.png" alt="img">
                                    </div>
                                </div>
                                <div class="single-testimonial">
                                  <p>Praesent nec elit imperdiet, tincidunt ex at, malesuada lectus. Praesent cursus diam risus, non accumsan neque fermentum eget. Maecenas vel aliquam enim aliquam aliquet finibus nisl.</p>
                                    <div class="testi-author">
                                        <img src="img/testimonial/testi_avatar.png" alt="img">
                                        <div class="ta-info">
                                            <h6>Margie R. Robinson</h6>
                                            <span>Web Developer</span>
                                        </div>
                                    </div>
                                     <div class="qt-img">
                                    <img src="img/testimonial/qt-icon.png" alt="img">
                                    </div>
                                </div>
                                <div class="single-testimonial">
                                   <p>Praesent nec elit imperdiet, tincidunt ex at, malesuada lectus. Praesent cursus diam risus, non accumsan neque fermentum eget. Maecenas vel aliquam enim aliquam aliquet finibus nisl.</p>
                                    <div class="testi-author">
                                        <img src="img/testimonial/testi_avatar.png" alt="img">
                                        <div class="ta-info">
                                            <h6>Margie R. Robinson</h6>
                                            <span>Web Developer</span>
                                        </div>
                                    </div>
                                     <div class="qt-img">
                                    <img src="img/testimonial/qt-icon.png" alt="img">
                                    </div>
                                </div>
                                <div class="single-testimonial">
                                   <p>Praesent nec elit imperdiet, tincidunt ex at, malesuada lectus. Praesent cursus diam risus, non accumsan neque fermentum eget. Maecenas vel aliquam enim aliquam aliquet finibus nisl.</p>
                                    <div class="testi-author">
                                        <img src="img/testimonial/testi_avatar.png" alt="img">
                                        <div class="ta-info">
                                            <h6>Margie R. Robinson</h6>
                                            <span>Web Developer</span>
                                        </div>
                                    </div>
                                     <div class="qt-img">
                                    <img src="img/testimonial/qt-icon.png" alt="img">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- testimonial-area-end -->
            
              <!-- brand-area -->
            <div class="brand-area pt-60 pb-60">
                <div class="container">
                    <div class="row brand-active">
                        <div class="col-xl-2">
                            <div class="single-brand">
                                 <img src="img/brand/b-logo1.png" alt="img">
                            </div>
                        </div>
                       <div class="col-xl-2">
                            <div class="single-brand">
                                     <img src="img/brand/b-logo2.png" alt="img">
                            </div>
                        </div>
                        <div class="col-xl-2">
                            <div class="single-brand">
                                  <img src="img/brand/b-logo3.png" alt="img">
                            </div>
                        </div>
                        <div class="col-xl-2">
                            <div class="single-brand">
                                  <img src="img/brand/b-logo4.png" alt="img">
                            </div>
                        </div>
                         <div class="col-xl-2">
                            <div class="single-brand">
                                 <img src="img/brand/b-logo5.png" alt="img">
                            </div>
                        </div>
                        <div class="col-xl-2">
                            <div class="single-brand">
                                 <img src="img/brand/b-logo6.png" alt="img">
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            <!-- brand-area-end -->
			

			
         
        </main>
        <!-- main-area-end -->
{% endblock %}